body {

            font-size: 48px;

            background-color: rgb(88, 50, 41);

            text-shadow: black 1.5px 0.5px 1.5px;

            font-family: "sans-serif";

        }

        h1 {
            margin-left: 25%;

            text-align: center;

            color: slategrey;

            width: 50%;

            }

        .box {
            margin-left: 25%;

            margin-bottom: 1%;

            float: left;

            text-align: center;

            justify-content: center;

            display: flex;

            width: 50%;

            height: 50%;
        
            padding: 15px;

        }
        form {
            color: rgb(212, 195, 61);
        }

        .search{
            border: 1px solid black;

            border-radius: 5px;

            height: 20px;

            width: 70%;

            padding: 2px 23px 2px 10px;

            outline: 0;

            background-color: #fffefe;
        }

        .search_button {

            border: 1px solid grey;

            height: 20px;

            width: 50px;

            background-color: white;

            border-radius: 5px;

            font-family: "Droid Sans";
        }

        ul {
            text-align: right;

            margin: 5px;

            padding: 5px;

            color: magenta;
        }

        a {
            color:rgb(184, 154, 45);
        }